/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sono', sans-serif !important;
}

/* VARIABLES CSS */
:root {
  --header-height: 3rem;

  /* Colores */
  --first-color: rgba(61, 183, 240, 0.863);
  --first-color-alt: rgba(20, 169, 238, 0.932);
  --first-color-send: #008cff;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #ffffff;
  --container-color: #FFF;
  --term-firts-color: #fcb457e1;
  --term-color: #ffaa3a;
  --text-price-color: rgba(98, 216, 118, 0.952);

  /* Fuente y tipografía */

  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /* Font weight */
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-big-bold: 1000;

  /* Margenes */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /* z index */

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/* LAYOUT */
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

ul.ba {
  list-style-type: none;
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-big-bold);
}

.nav__logo {
  border: 3px solid #000;
  border-radius: 10%;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/*Mostrar menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/*Menu activo - link */
.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* Cambiar el background del header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

/* Animaciones con el scroll */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(37, 161, 218, 0.5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/* Inicio */
.inicio__container {
  row-gap: .5rem;
}

.inicio__imagen {
  width: 260px;
  justify-self: center;
}

.inicio__imagen img {
  width: 450px;
  border-radius: 5%;
}

.inicio__titulo {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.inicio__descripcion {
  margin-bottom: var(--mb-3);
}

/* Botones */



.button {
  display: inline-block;
  text-align: center;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;

}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);

}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);

}

.sites-link {
  background: none;
  padding: 0;
  color: var(--text-color-light);
}

.sites-link:hover {
  background-color: transparent;
  color: var(--title-color);
}

.prices-link {
  background: none;
  padding: 15px;
  color: var(--text-color);
}

.prices-link:hover {
  background-color: transparent;
  color: var(--text-price-color);
}

/* Ventajas */
.ventajas__datos {
  text-align: center;
}

.ventajas__descripcion {
  margin-bottom: var(--mb-6) !important;
  width: 110%;
}

.ventajas__video {
  width: 560px !important;
  justify-self: center;
}

.ventajas__video iframe {
  width: 100% !important;
  height: 340px;
}

/* Lugares */
.lugares__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.lugares__datos {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
  border-radius: 1rem;
}

.lugares__datos:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.lugares__imagen {
  width: 180px;
  border-radius: 5%;
}

.lugares_titulos {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/* Opiniones */
.opiniones__container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.opiniones__content {
  position: relative;
  display: grid;
  padding: .25rem .75rem .75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
  border-radius: 1rem;
}

.opiniones__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.opiniones__imagen {
  width: 110px;
  justify-self: center;
  margin-bottom: .25rem;
  border-radius: 50%;
}

.opiniones__titulo,
.opiniones__opinion {
  text-align: center;
}

.opiniones__titulo {
  font-size: var(--normal-font-size);
}

.opiniones__opinion {
  padding-top: 5%;
  font-size: 85%;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.opiniones__fecha {
  font-size: 85%;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  padding: 15%;
  text-align: center;
}

/*Enviar correo*/
.correo {
  background-color: var(--first-color-send);
}

.correo__titulo,
.correo__descripcion {
  color: #fff;
  border-radius: .5rem;

}

.correo__descripcion {
  text-align: center;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;

}

.correo__direccion {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: .5rem;
  border-radius: .5rem;

}

.correo__input {
  width: 70%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  padding-left: 5%;
}

.correo__input::placeholder {
  font-family: var(--body-font);
}


.correo__imagen img {
  width: 550px;
  border-radius: 3%;

}

/* FOOTER - Píe de página*/
.footer {
  background-color: #f8f8f8;
  color: #333;
  font-size: 14px;
  padding: 50px 0;
}

.footer-columns-wrapper {
  max-width: 1200px;
  /* ajustar según sea necesario */
  margin: 0 auto;
  /* centrar horizontalmente */
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  /* permitir que las columnas se ajusten a la línea */
  font-size: 125%;
  color: var(--text-color-light);
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  /* ancho de cada columna */
  padding: 0 20px;
  /* ajustar según sea necesario */
  flex-direction: column;
  box-sizing: border-box;
  /* incluir relleno en el ancho total */
}

.footer-column:last-child {
  margin-right: 0;
}

.footer__copy {
  margin-top: 50px;
  text-align: center;
  font-size: var(--h2-font-size);
  color: var(--text-color-light);
}

.social-icons{
  padding-top: 5%;
}
.icon {
  text-decoration: none;
  margin: 6%;
}


.term-link {
  font-weight: var(--font-semi-bold);
  color: var(--term-firts-color);
}

.term-link:hover {
  background-color: transparent;
  color: var(--term-color);
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {

  .inicio__container,
  .ventajas__container,
  .correo__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .inicio__container {
    padding: 5rem 0 0;
  }

  .inicio__imagen {
    order: 1;
  }

  .section-title-center,
  .ventajas__datos,
  .correo__descripcion {
    text-align: initial;
  }

  .section-title-center span {
    font-size: 23px;
    margin-left: 10px;
    margin-bottom: 8px;
  }

  .inicio__imagen,
  .ventajas__video iframe,
  .correo__imagen {
    width: 100%;
  }

  .ventajas__video {
    order: -1;
  }
}

@media screen and (min-width: 800px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .inicio__container {
    padding: 7rem 2rem 0;
  }

  .ventajas__container {
    padding: 0 2rem;
  }

  .opiniones__container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .opiniones__content {
    padding: .5rem 1.5rem 1.5rem;
  }

  .opiniones__imagen {
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .opiniones__titulo,
  .opiniones__opinion {
    text-align: initial;
  }

  .send {
    background: none;
  }

  .correo__container {
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .inicio__imagen,
  .ventajas__video,
  .correo__imagen {
    width: 469px;
  }

  .inicio__container,
  .ventaja__container,
  .correo__container {
    column-gap: 5rem;
  }

  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }

  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }

  .App {
    max-width: 95vw;
  }
}